#this-page {
	background-color: #eee;
	padding: 4pt;
	padding-top: 10pt;
}

#profPic {
	display: inline-block;
	width: 33%;
}

#user-inf {
	display: inline-block;
	width: 57%;
	vertical-align:top;

	margin-left: 4%;
	margin-right: 4%;
}

#uname-holder {
	padding-top: 14pt;
	padding-bottom: 6pt;

	font-size: 24pt;
}

#level-holder {
	display: inline-block;
	vertical-align:top;

	margin-top: 10pt;
	margin-bottom: 4pt;
	color: #757575;

	font-size: 20pt;
}
#exp-text {
	display: inline-block;
	float: right;

	text-align: right;

	margin-top: 12pt;
	margin-bottom: 4pt;
	color: #757575;

	font-size: 14pt;
}

#exp-holder {
	height: 20pt;
	width: 100%;
	margin-top: 14pt;

	background-color: #c0c0c0;
	border-radius: 4pt;
	overflow: hidden;
}
#exp-bar {
	width: 3%;
	height: 100%;
	background-color: #617c8a;
	overflow: visible;
}

/* achievement card */

.ach-card {
	width: 100%;
	margin-top: 14pt;
}

.ach-icon {
	display: inline-block;
	vertical-align: top;
	width: 20%;
}
.ach-text {
	color: #57616f;

	display: inline-block;
	vertical-align: top;
	width: 76%;

	padding-top: 4pt;
	padding-left: 2%;
}
.ach-title {
	font-size: 16pt;
	padding-bottom: 6pt;
}
.ach-locked {
	color: #b0b0b0 !important;
}

#spacer {
	height: 10pt;
}
